/* This CSS is sorted in an alphabetical order. */

.introduction{
    gap: 60px;
}
@media (max-width: 1400px){


    nav{
        margin-top: 50px;
        gap: 365px;
    }
}


@media (max-width: 800px){
    .introduction{
        gap: 35px;
    }
}
