.divider{
    align-items: baseline;
    padding-left: 50px;
    font-size: 30px;
    flex-direction: column;
    gap: 15px;
    font-weight: 100;
    margin-top: 30px;
}

.divider p{
    font-size: 20px;
}

.grid{
    display: grid;
    gap: 20px;
    margin: 0px 50px 50px 50px;
}

.blogpost-article{
    grid-row: 1;
    grid-column: 1;
    border: 10px solid #EDE9D0;
    justify-content: center;
    padding: 60px 200px 60px 200px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.blogpost-article img{
    height: 400px;
}

.wrap{
    float: right;
    margin: 5px;
}

.grid-column-2 {
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
    flex-direction: column;
}

.latest{
    border: 10px solid #EDE9D0;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.latest-card{
    flex-direction: column;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
}

.latest-card img{
    width: 130px;
}

.divider{
margin-bottom: 50px;
}

article h2{
    font-size: 20px;
}

.introduction{
    gap: 60px;
}

.divider p{
    margin-left: 75px;
}

@media (max-width: 1400px){
    .grid-column-2{
        margin-right: 40px;
    }

    .divider{
        flex-wrap: wrap;
    }
    
    h1{
        width: 510px;
    }

    .blogpost-article{
        padding: 60px 100px 60px 100px;
    }

    .divider{
        padding: 0;
    }

    .content-wrapper{
        padding: 0;
    }

    nav{
        margin-top: 50px;
        gap: 365px;
    }
}

@media (max-width: 1000px){
    .blogpost-article{
        font-size: 17px;
        padding: 50px 50px 50px 50px;
        text-align: left;
    }

    .blogpost-article span{
        margin-top: 40px;
        display: flex;
    }

    .grid-column-2{
        margin: 0;
    }
}

@media (max-width: 800px){
    .grid-column-2{
        line-height: 35px;
        max-width: 100%;
    }

    .sally{
        flex-direction: row;
        width: auto;
    }

    .introduction{
        gap: 35px;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
    }

    .farewell{
        width: auto;
    }

    .latest{
        width: auto
    }
    
    .latest-card{
        width: 90%;
    }

    .latest-card img{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    h1{
        font-size: 40px;
        width: 340px;
    }
    
    .grid{
        display: initial;
    }
}

@media (max-width: 600px){
    .blogpost-article{
        padding: 50px 20px 50px 20px;
    }

    .grid{
        margin: 0px 20px 50px 20px;
    }

    .sally{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    h1{
        font-size: 25px;
        margin-left: 20px;
        width: 325px;
    }

    .divider p{
        margin-left: 20px;
        font-size: 15px;
    }

}