/* This CSS is sorted in an alphabetical order. */

h1{
    margin: 0;
    font-size: 40px;
    width: 600px;
    word-wrap: break-word;
}

h2{
    font-size: 20px;
}

.blogpost{
    gap: 30px;
}

.blogpost-article{
    text-align: left;
    border: none;
    padding: 60px 100px 60px 100px;
}

.blog-image {
    cursor: zoom-in;
    height: 400px;

}

.blog-text{
    gap: 30px;
    flex-wrap: wrap;
    word-break: break-word;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



.grid{
    gap: 30px;
}

.grid-column-1{
    border: 7px solid #EDE9D0;
}

.heading{
    margin-left: 100px;
    gap: 50px;
    flex-wrap: wrap;
}

.heading p{
    font-size: 20px;
    line-height: 30px;
    width: 425px;
}

.heading-text{
    gap: 20px;
}

.latest-card{
    flex-direction: column;
    background-color: white;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
}

.latest-card img{
    width: 130px;
}

.latest-blogpost-section{
    border: 7px solid #EDE9D0;
    width: 200px;
    padding: 20px;
    gap: 30px;
}

/*Modal for bigger img*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 65%;
}



@media (max-width: 1500px){

    .blogpost-article{
        padding: 60px 100px 60px 100px;
    }

    .content-wrapper{
        padding: 0;
    }

    .grid-column-1{
        margin-left: 50px;
    }
    
    .grid-column-2{
        margin-right: 50px;
    }

    .heading{
        margin-left: 100px;
        justify-content: center;
    }

    .heading img{
        margin-right: 180px;
    }
}

@media (max-width: 1000px){
    h1{
        font-size: 40px;
        width: 340px;
    }

    .content{
        flex-wrap: wrap;
    }

    .farewell{
        width: auto;
    }

    .grid{
        display: initial;
    }

    .grid-column-1{
        margin: 50px;
    }

    .grid-column-2{
        margin: 50px;
    }

    .introduction{
        gap: 35px;
    }

    .latest{
        width: auto
    }
    
    .latest-card{
        width: 90%;
    }

    .latest-card img{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .sally{
        flex-direction: row;
        width: auto;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
    }
}

@media (max-width: 700px){
    h1{
        font-size: 25px;
        margin-left: 20px;
        width: 325px;
    }

    main p{
        font-size: 17px;
    }

    .blogpost-article{
        padding: 50px 20px 50px 20px;
    }

    .content-wrapper{
        justify-content: center;
    }


    .grid{
        margin: 0px 20px 50px 20px;
    }

    .grid-column-1{
        margin: 0;
        padding: 20px;
    }

    .heading{
        margin:0;
    }

    .heading img{
        margin-right: 0;
    }

    .heading p{
        width: auto;
    }

    .sally{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 500px){
    h1{
        align-self: center;
    }
    
    .blog-text{
        width: 300px;
    }

    .blogpost-article{
        padding: 0px;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .grid-column-1{
        padding: 5px;
        border: none;
    }

    .grid-column-2{
        margin: 15px;
    }

    .heading-text{
        text-align: center;
        flex-wrap: wrap;
        word-wrap: break-word;
        word-break: break-word;
    }

    .heading-text p{
        font-size: 17px;
    }
}
