.wraper{
    display: grid;
}
.divider{
    align-items: baseline;
    font-size: 30px;
    flex-direction: column;
    gap: 15px;
    font-weight: 100;
    margin-top: 30px;
}

.divider p{
    font-size: 20px;
}

.grid{
    gap: 20px;
}

.wrap{
    float: right;
    margin: 5px;
}


.latest{
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.latest-card{
    background-color: white;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
    width: 345px;
    height: 300px;
}

.latest-card img{
    width: 155px;
}

.divider{
margin-bottom: 50px;
}

h2{
    font-size: 20px;
}

.row1{
    grid-row: 1;
    gap: 50px;
}

.row2{
    grid-row: 2;
    gap: 50px;
}

.flexrow{
    flex-direction: row;
}


.collection{
    grid-row: 1;
    grid-column: 1;
    justify-content: space-evenly;
    padding: 60px 100px 60px 100px;
    font-size: 20px;
    line-height: 40px;
    gap: 30px;
    margin-left: 50px;
}


.latest-book{
    width: 165px;
}

.archive-post img{
    width: 180px;
}

.archive-post{
    background-color: white;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
    width: 345px;
    height: 300px;
}

.cocoa{
    width: 800px;
}
 .cocoa img{
width: 90%;
height: 250px;
object-fit: cover;
}

@media (max-width:1500px){
    .bookwormTitle{
        font-size: 20px;
    }

    nav{
        justify-content: space-between;
        gap: 0;
        margin-left: 40px;
    }

    .collection{
        margin-left: 0;
        padding: 60px 20px 60px 20px;
    }

    .row1{
        gap: 30px;
    }
}

@media (max-width:1280px){
    .bookwormTitle{
        font-size: 20px;
    }

    nav{
        justify-content: space-between;
        gap: 0;
        margin-left: 40px;
    }

    .collection{
        margin-left: 0;
        padding: 60px 20px 60px 20px;
    }

    .row1{
        justify-content: center;
    }

    .row2{
        justify-content: center;
    }
    .archive-post{
        width: auto;
        text-align: center;
    }

    .archive-post img{
        height: 180px;
        object-fit: contain;
    }
    .cocoa{
        width: 480px;
    }
    .cocoa img{
       width: 80%;
       object-fit: cover;
    }

    .word-wrap{
        max-width: 175px;
    }
}

@media (max-width: 1000px){
    .row1{
        gap: none;
        flex-wrap: wrap;
    }

    .row2{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-column-2{
        gap: 15px;
    }

    .grid-column-2 section{
        width: 165px;
    }

    .sally img{
        max-width: 165px;
        height:auto;

    }

    .latest-book{
        width: 130px;
    }

    .follow ul{
        gap: 10px;
    }

    .row3{
        justify-content: center;
    }

    .cocoa{
        width: auto;
    }

    
}

@media (max-width: 700px){
    
    .archive-post img{
        width: 100px;
    }

    .archive-post{
        font-size: 17px;
        width: 300px;
        height: 200px;
        flex-direction: row;
    }

    .collection{
        max-width: 500px;
        margin: 30px;
        border: none;
    }

    .wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-column-2{
        display: none;
    }

    .content-wrapper{
        padding: 0;
    }

    nav{
        padding-top: 50px;
        justify-content: center;
        gap: 0;
        margin: 0;
    }


    .archive-post.border-green{
        border: 4px solid #EDE9D0;
    }

    .divider{
        margin: 50px 50px 0px 50px;
    }
}

@media (max-width: 500px){
    .divider{
        margin: 30px;
    }
}

@media (max-width: 380px){
    .archive-post{
        flex-wrap: wrap;
        height: 250px;
        width: 155px;
    }

    .archive-post img{
        height: 170px;
        width: 170px;
    }

    h1{
        align-self: center;
        padding: 0;
        margin: 0;
    }
}

