/* This CSS is sorted in an alphabetical order. */

button{
    width: 200px;
    height: 50px;
    background-color: #EDE9D0;
    border: solid 2px;
}



.archive-post{
    background-color: white;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
    width: 345px;
    height: 370px;
    text-align: center;
}

.archive-post img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.cocoa{
    width: 800px;
}

 .cocoa img{
width: 90%;
height: 250px;
object-fit: cover;
}

.collection-inner{
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.grid{
    gap: 20px;
}

.group1{
    display: grid;
}

.group2{
    display: grid;
}

.row1{
    grid-row: 1;
    gap: 50px;
}

.row2{
    grid-row: 2;
    gap: 50px;
}

@media (max-width:1280px){
    nav{
        justify-content: space-between;
        gap: 0;
        margin-left: 40px;
    }

    .archive-post{
        text-align: center;
        width: 250px;
        height: 275px;
        padding-top: 100px;
    }

    .archive-post img{
        height: 180px;
        object-fit: contain;
    }

    .cocoa{
        width: 480px;
    }
    
    .cocoa img{
       width: 80%;
       object-fit: cover;
    }

    .row1{
        justify-content: center;
    }

    .row2{
        justify-content: center;
    }

    .word-wrap{
        max-width: 175px;
    }
}

@media (max-width: 1000px){
    .cocoa{
        width: auto;
    }



    .grid{
        gap: 0px;
    }



    .latest-book{
        width: 130px;
    }

    .row1{
        gap: none;
        flex-wrap: wrap;
    }

    .row2{
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row3{
        justify-content: center;
    }

  
}

@media (max-width: 800px){
    nav{
        padding-top: 50px;
        justify-content: center;
        gap: 0;
        margin: 0;
    }

    .content-wrapper{
        padding: 0;
    }

    .grid-column-1{
        max-width: 500px;
        margin: 0;
        border: none;
    }

    .wrapper{
        justify-content: center;
    }
}

@media (max-width: 500px){
    .archive-post{
        gap: 0;
        font-size: 15px;
        width: initial;
        height: 200px;
        line-height: 20px;
        padding-top: 15px;
    }

        .archive-post img{
        width: 150px;
        height: 150px;
    }

    .archive-post p{
        max-width: 200px;
    }

}


@media (max-width: 80px){

    
    .archive-post{
        flex-wrap: wrap;
        height: 250px;
        width: 155px;
    }

    .archive-post img{
        height: 170px;
        width: 170px;
    }
}

