/* This CSS is sorted in an alphabetical order. */

h1{
    margin: 0;
    font-size: 40px;
    width: 600px;
    word-wrap: break-word;
}

h2{
    font-size: 20px;
}

.blogpost{
    gap: 30px;
}

.blogpost-article{
    text-align: left;
    border: none;
    padding: 60px 100px 60px 100px;
}

.blog-image {
    cursor: zoom-in;
    height: 400px;

}

.blogpost-wrapper{
    flex-wrap: wrap;
}

.blog-text{
    gap: 30px;
    flex-wrap: wrap;
    word-break: break-word;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.grid{
    margin: 0;
}

.grid-column-1{
    border: 7px solid #EDE9D0;
}

.heading{
    gap: 50px;
    flex-wrap: wrap;
}

.heading p{
    font-size: 20px;
    line-height: 30px;
    width: 425px;
}

.heading-text{
    gap: 20px;
}

/*Modal for bigger img*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 65%;
}



@media (max-width:1300px){
    .grid{
        display: initial;
    }

    .grid-column-1{
        margin: 100px;
        padding: 0;
    }

    .grid-column-2{
        margin: 100px;
        width: auto;
    }

    .grid-column-2 img{
        width: 200px;
    }

    .heading{
        justify-content: center;
    }

    .sally{
        flex-direction: row;
    }

    .sally img{
        width: 200px;
        height: 200px;
    }

    .latest-blogpost-section{
        flex-direction: row;
        width: auto;
    }

}

@media (max-width: 900px){
    .grid-column-1{
        margin: 30px;
    }
}