/* This CSS is sorted in an alphabetical order. */

button {
    padding: 10px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    margin: 7px;
    margin-top: 30px;
}

form{
    margin: 0;

}

form input, form textarea{
    border: 2px solid #8f6757;
    margin: 7px;
    cursor: url('/Images/quill-cursor.png') 25 15, auto;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
}

.article-inner{
    gap: 30px;
}



.form-wrap{
    gap: 30px
}


.message-error{
    color: red;
    font-size: 15px;
}

.message-success {
    display: none;
    color: green;
}



@media (max-width: 700px){
    form{
        font-size: 17px;
    }

    main p{
        font-size: 17px;
    }
}
