@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Prata&display=swap');


*{ 
    text-decoration: none;
    list-style-type: none;
    color: #8f6757; /*#663F46*/
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    
}

html{
    background-color: #8f6757;
}


nav{
    justify-content: space-around;
    padding: 0px 20px 20px 20px;
    gap: 750px;
}

nav ul{
    gap: 30px;
    font-size: 20px;
}



.bookwormTitle{
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.column{
    flex-direction: column;
}

.flexbox{
    display: flex;
}

.grid{
    display: grid;
}


.left-30{
    margin-left: 30px
}

.align-center{
    align-items: center;
}

.prata{
    font-family: 'Prata', serif;
}

.green{
    background: #EDE9D0;
}

.beige{
    background-color: #FFF7F2;

}

.white{
    background-color: #ffffff;
}

.border-green{
    border: 7px solid #EDE9D0;

}

.content-wrapper{
    max-width: 1700px;
    margin: 0 auto;
    box-shadow: 0px 5px 10px #272524;
    width: 100%;
    padding: 50px
}

.divider{
    justify-content: center;
    height: 230px;
    margin: 30px 0px 30px 0px;
    align-items: baseline;
    font-size: 30px;
    gap: 15px;
}

.divider p{
    font-size: 20px;
}

.grid-column-2 {
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
    justify-self: center;
}

.wrap{
    float: right;
    margin: 5px;
}

.reading-list{
    gap: 25px;
    padding: 20px;
}

.reading-list h2{
    text-decoration: underline 2px solid;
}

.reading-list ul{
    gap: 25px;
}
.reading-list li{
    list-style-type: disclosure-closed;
}

.follow{
    gap: 30px;
    padding: 20px;
    text-decoration: underline 2px solid;
}

.follow ul{
    gap: 25px;
    padding: 0;
}

.follow img{
    width: 50px;
}

.sally{
    border: 7px solid #EDE9D0;
    width: 200px;
    padding: 20px;
    gap: 20px;
    line-height: 30px;
}

.sally img{
    width: 200px;
    height: 200px;
    align-self: center
}

.farewell{
    word-wrap: break-word;
    width: 60px;
}

.blogpost-article{
    grid-row: 1;
    grid-column: 1;
    border: 7px solid #EDE9D0;
    justify-content: center;
    padding: 60px 200px 60px 200px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.blogpost-article img{
    height: 400px;
}

.latest{
    border: 7px solid #EDE9D0;
    width: 200px;
    padding: 20px;
    gap: 30px;
}

.latest-card{
    background-color: white;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
}

.latest-card img{
    width: 130px;
}

.heading{
    padding: 50px 0px 50px 0px;
}

h1{
    margin-left: 75px;
}

.burger-menu{
    justify-content: flex-end;
    display: none;
}

.burger-menu img{
    width: auto;
    height: 80px;
    cursor: pointer;
}


 @media (max-width: 1000px){
    nav.flexbox{
        display: none;
    }

    .burger-menu{
        display: flex;
    }
 }
