/* This CSS is sorted in an alphabetical order. */

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


*{ 
    text-decoration: none;
    list-style-type: none;
    color: #8f6757; /*#663F46*/
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    font-weight: 100;
}

/*targeting elements*/
article h2{
    font-size: 20px;
}

body{
    height: 100%;
}

footer{
    height: 210px;
    margin-top: 150px;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
}

footer p{
    font-size: 35px;
}

footer ul{
    gap: 30px;
    font-size: 25px;
}

h1{
    margin-left: 75px;
}

nav{
    justify-content: space-between;
    padding: 20px;
    box-shadow: #ceccbc 0px 3px 8px;

}

nav ul{
    gap: 30px;
    font-size: 20px;
}

section{
    box-shadow: #ceccbc 0px 3px 8px;
}

/* styles that can easily be used on multiple elements */
.align-center{
    align-items: center;
}

.beige{
    background-color: #FFF7F2;

}

.border-green{
    border: 7px solid #EDE9D0;

}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flexbox{
    display: flex;
}

.green{
    background: #EDE9D0;
}

.grid{
    display: grid;
    gap: 20px;
    margin: 0px 50px 50px 50px;
}

.rampart-one{
    font-family: 'Rampart one', sans-serif;
}


.white{
    background-color: #ffffff;
}


/* classes that are used on multiple html documents */

.blogpost-article{
    grid-row: 1;
    grid-column: 1;
    border: 10px solid #EDE9D0;
    justify-content: center;
    padding: 60px 200px 60px 200px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.blogpost-article img{
    height: 400px;
}

.bookwormTitle{
    font-size: 25px;
    align-items: center;
    gap: 10px;
    font-family: Rampart one, sans-serif;
}

.burger-menu{
    justify-content: flex-end;
    display: none;
}

.burger-menu img{
    width: auto;
    height: 80px;
    cursor: pointer;
}

.content-wrapper{
    max-width: 1700px;
    margin: 0 auto;
    box-shadow: #ceccbc 4px 3px 10px;
    width: 100%;
}

.copyright{
    font-size: 15px;
}

.divider{
    align-items: baseline;
    padding-left: 50px;
    font-size: 30px;
    flex-direction: column;
    gap: 15px;
    font-weight: 100;
    margin: 30px 0px 50px 0px;
    justify-content: center;
    height: 230px;
}

.divider p{
    font-size: 20px;
    margin-left: 75px;
}

.error-message {
    color: red;
    padding-top: 25px;
}

.farewell{
    word-wrap: break-word;
    width: 60px;
}

.follow{
    gap: 30px;
    padding: 20px;
    text-decoration: underline 2px solid;
}

.follow ul{
    gap: 25px;
    padding: 0;
}

.follow img{
    width: 50px;
}

.grid-column-1{
    grid-row: 1;
    grid-column: 1;
    justify-content: space-evenly;
    padding: 60px;
    font-size: 20px;
    line-height: 40px;
    gap: 50px;
    margin-right: 60px;
    align-items: center;
    box-shadow: 0px 1px 6px #b5b5b5;
}

.grid-column-2 {
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
    justify-self: center;
    width: 250px;
}

.heading{
    padding: 50px 0px 50px 0px;
}

.latest-blogpost-section{
    border: 10px solid #EDE9D0;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.latest-card{
    flex-direction: column;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
}

.latest-card img{
    width: 130px;
}

/* loader */
.loader {
    padding: 15px 25px;
   justify-content: center;
   align-items: center;
}
.fa-book-open{
    margin-right: 15px;
}
.hidden{
    display: none;
}
/* load styles end */ 

.menu li{
    transition: transform 0.4s ease-in-out;
}

.menu li:hover{
    transform: translateY(-5px); 
}

.portrait{
    width: 200px;
    height: 200px;
    align-self: center
}

.reading-list{
    gap: 25px;
    padding: 20px;
}

.reading-list h2{
    text-decoration: underline 2px solid;
}

.reading-list ul{
    gap: 25px;
}
.reading-list li{
    list-style-type: disclosure-closed;
}

.sally{
    border: 7px solid #EDE9D0;
    padding: 20px;
    gap: 20px;
    line-height: 30px;
}

.grid-column-2 img{
    object-fit: contain;
}

.wrap{
    float: right;
    margin: 5px;
}

/* first: elements  in an alphabetical order. 
second: classes in an alphabetical order.*/

@media (max-width:1500px){
    nav{
        justify-content: space-between;
        gap: 0;
        margin-left: 40px;
    }
}
@media (max-width: 1400px){
    h1{
        width: 500px;
    }

    .blogpost-article{
        padding: 60px 100px 60px 100px;
    }

    .content-wrapper{
        padding: 0;
    }

    .divider{
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
    }

    .divider p{
        width: 500px;
        margin: 0;

    }

    .grid-column-2{
        margin-right: 40px;
    }
}
@media (max-width: 1000px){
    .blogpost-article{
        font-size: 17px;
        padding: 50px 50px 50px 50px;
        text-align: left;
    }

    .blogpost-article span{
        margin-top: 40px;
        display: flex;
    }

    nav.flexbox{
        display: none;
    }

    nav.active{
        display: flex;
        flex-direction: column;
        z-index: 1000px;
        position: absolute;
        top: 170px; 
        left: 50%; 
        transform: translateX(-50%);
        background:#ffffff;
        width: 84.6%;
        margin: 0;
        align-items: center;
        gap: 30px;
}

    nav.active ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav.active li{
        cursor: pointer
    }

    nav.active .bookwormTitle{
        flex-direction: column;
        font-size: 26px;
    }
    nav.active img{
        width: 30px;
    }

    .burger-menu{
        display: flex;
        z-index: 1;
    }

    .burger-menu.active img {
        transform: rotate(300deg);
    }

    .grid-column-2{
        margin: 0;
    }
 }

 @media (max-width: 800px){
    h1{
        font-size: 40px;
    }

    .blogpost-article{
        margin: 50px;
        line-height: 35px;
    }

    .farewell{
        width: auto;
    }

    .follow ul{
        gap: 10px;
    }

    .grid{
        display: initial;
    }

    .grid-column-2{
        line-height: 35px;
        margin: 50px;
        width: 100%;
    }

    .grid-column-2 section{
        flex-direction: column;
    }

    .latest-blogpost-section{
        width: auto
    }

    .latest-card{
        width: 90%;
    }

    .latest-card img{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .sally{
        flex-direction: row;
        width: auto;
    }

    .sally img{
        height: 200px;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
    }
 }

 @media (max-width:700px){
    h1{
        align-self: center;
        font-size: 30px;
        margin-left: 20px;
        width: 325px;
    }

    nav.active{
        top: 150px;
    }

    .burger-menu{
        margin: 50px;
    }

    .divider p{
        margin-left: 20px;
        font-size: 20px;
        width: 325px;
    }

    .grid{
        margin: 0px 20px 50px 20px;
    }

    .grid-column-1{
        padding: 25px;
    }

    .grid-column-2{
        margin: 15px;
    }

    .grid-column-2 section{
        margin: 30px;
    }

    .sally{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .sally img{
        height: 150px;
    }

    .blogpost-article{
        padding: 50px 20px 50px 20px;
        border: none;
        margin: 5px;
    }
}

 @media (max-width: 500px){
    .burger-menu{
        margin: 30px;
    }


    footer .rampart-one{
        font-size: 20px;
    }

    footer ul{
        font-size: 20px;
        flex-wrap: wrap;
        padding: 0px 30px 0px 30px;
        justify-content: center;
        }

        .sally{
            margin: 0px 30px 0px 30px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    
        .sally img{
            height: 150px;
        }
 }

 

 