/* This CSS is sorted in an alphabetical order. */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Prata&display=swap');

*{ 
    text-decoration: none;
    list-style-type: none;
    color: #8f6757; /*#663F46*/
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
}

/*targeting elements*/
body{
    height: 100%;
}

footer{
    height: 210px;
    margin-top: 150px;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
}

footer p{
    font-size: 35px;
}

footer ul{
    gap: 30px;
    font-size: 25px;
}

h1{
    margin-left: 75px;
}

nav{
    justify-content: space-between;
    padding: 20px;
    box-shadow: #ceccbc 0px 3px 8px;

}

nav ul{
    gap: 30px;
    font-size: 20px;
}

section{
    box-shadow: #ceccbc 0px 3px 8px;
}

/* styles that can easily be used on multiple elements */
.align-center{
    align-items: center;
}

.beige{
    background-color: #FFF7F2;

}

.border-green{
    border: 7px solid #EDE9D0;

}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flexbox{
    display: flex;
}

.green{
    background: #EDE9D0;
}

.grid{
    display: grid;
}
.prata{
    font-family: 'Prata', serif;
}


.white{
    background-color: #ffffff;
}


/* classes that are used on multiple html documents */

.blogpost-article{
    grid-row: 1;
    grid-column: 1;
    border: 7px solid #EDE9D0;
    justify-content: center;
    padding: 60px 200px 60px 200px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.blogpost-article img{
    height: 400px;
}

.bookwormTitle{
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.burger-menu{
    justify-content: flex-end;
    display: none;
}

.burger-menu img{
    width: auto;
    height: 80px;
    cursor: pointer;
}

.content-wrapper{
    max-width: 1700px;
    margin: 0 auto;
    box-shadow: #ceccbc 4px 3px 10px;
    width: 100%;
}

.copyright{
    font-size: 15px;
}

.divider{
    justify-content: center;
    height: 230px;
    margin: 30px 0px 30px 0px;
    align-items: baseline;
    font-size: 30px;
    gap: 15px;
}

.divider p{
    font-size: 20px;
}

.error-message {
    color: red;
    padding-top: 25px;
}

.farewell{
    word-wrap: break-word;
    width: 60px;
}

.follow{
    gap: 30px;
    padding: 20px;
    text-decoration: underline 2px solid;
}

.follow ul{
    gap: 25px;
    padding: 0;
}

.follow img{
    width: 50px;
}

.grid-column-2 {
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
    justify-self: center;
    width: 250px;
}

.heading{
    padding: 50px 0px 50px 0px;
}

.latest-blogpost-section{
    border: 7px solid #EDE9D0;
    padding: 20px;
    gap: 30px;
}

.latest-card{
    background-color: white;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 1px 6px #b5b5b5;
    padding: 20px;
}

.latest-card img{
    width: 130px;
}

/* loader */
.loader {
    padding: 15px 25px;
   justify-content: center;
   align-items: center;
}
.fa-book-open{
    margin-right: 15px;
}
.hidden{
    display: none;
}
/* load styles end */ 

.menu li{
    transition: transform 0.4s ease-in-out;
}

.menu li:hover{
    transform: translateY(-5px); /* Juster verdien etter ønske for ønsket løfteeffekt */
}

.portrait{
    width: 200px;
    height: 200px;
    align-self: center
}

.reading-list{
    gap: 25px;
    padding: 20px;
}

.reading-list h2{
    text-decoration: underline 2px solid;
}

.reading-list ul{
    gap: 25px;
}
.reading-list li{
    list-style-type: disclosure-closed;
}

.sally{
    border: 7px solid #EDE9D0;
    padding: 20px;
    gap: 20px;
    line-height: 30px;
}

.wrap{
    float: right;
    margin: 5px;
}

/* first: elements  in an alphabetical order. 
second: classes in an alphabetical order.*/
@media (max-width: 1000px){
    nav.flexbox{
        display: none;
    }

    nav.active{
        display: flex;
        flex-direction: column;
        z-index: 1000px;
        position: absolute;
        top: 170px; 
        left: 50%; 
        transform: translateX(-50%);
        background:#ffffff;
        width: 84.6%;
        margin: 0;
        align-items: center;
        gap: 30px;
}

    nav.active ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav.active li{
        cursor: pointer
    }

    nav.active .bookwormTitle{
        flex-direction: column;
        font-size: 26px;
    }
    nav.active img{
        width: 30px;
    }

    .burger-menu{
        display: flex;
        z-index: 1;
        padding: 10px;
        border: solid 4px;
    }

    .burger-menu.active img {
        transform: rotate(300deg);
    }
 }

 @media (max-width:700px){
    h1{
        align-self: center;
        margin: 0;
    }

    nav.active{
        top: 150px;
    }

    .burger-menu{
        margin: 50px;
    }
 }

 @media (max-width: 500px){
    .burger-menu{
        margin: 30px;
    }

    .sally{
        margin: 0px 30px 0px 30px;
    }

    footer .prata{
        font-size: 20px;
    }

    footer ul{
        font-size: 20px;
        flex-wrap: wrap;
        padding: 0px 30px 0px 30px;
        justify-content: center;
        }
 }

 

 