h1{
    font-size: 100px;
    width: 1000px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1 span{
    display: inline-block;
    font-family: 'Prata', serif;
}

h2{
    font-size: 40px;  
}

.hero{
    background-image: url(/Images/greeny.png);
    background-size: 850px 600px;
    justify-content: space-evenly;
    margin: 100px 20px 20px 20px;
    padding-top: 70px;
}

.hero img{
    border-radius: 100px 0px 0px 0px;
}

.row2{
    gap: 100px;
}

.subheader{
    width: 720px;
    font-weight: 100;
    font-size: 30px;
}

.blobby{
    background-image: url(/Images/Blobby.png);
    height: 700px;
    justify-content: center;
    background-position: center;

}

.carousel{
    flex-direction: row;
    gap: 50px;
}

.latest-card{
    background-color: white;
    width: 330px;
    height: 450px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 2px 7px #b5b5b5;
    text-align: center;
}

.latest-card img{
    height: 250px;
    object-fit: contain;
}
